header{
    font-family: 'Poppins', sans-serif;
}

.flexible-container{
    display: flex;   
    background-color: black;
    margin-left: 70px;
    margin-right: 70px;
    /* padding: 10px 50px ; */
    border-radius: 1em;
    padding-bottom: 50px;
}
.half-width{
    width: 100%;
    padding-left: 5%;
    color: white;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: red;
    padding: 10px 40px;
    border-radius: 5px;
  color:white ;
  font-weight: 700;
}
.link-button i{
    margin-left: 10px;
    padding-top: 1px;
}
.flex{
    display: flex;
}
.login-container {
    width: 25%;
    height: 200px;
    display: flex;
    margin-top: 50px;
    background-color: black;
    /* margin-right: 850px; */
    border-radius: 1em;
    
}

.login-form {
    
    margin-left: 10px;
    margin-right: 10px;
   
    
}

.login-form input {
    margin-top: 1em;
    font-size: 1em;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    border-radius: 0.5em;

}
.login-form input[type="submit"] {
    background-color: red;
    border: none;

}
.player .banner img{
    width: 224px;
    height:104px ;
}
.button{
    margin-top: 10px;
}
.button{
    display: none;
}
.player-info{
    display: flex;
}
.clock{
    padding-right: 4px;
}
.section-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 80%;
}
.section-img{
    padding: 10px;
    flex: 100%;
}
.footer {
    background-color: black;
    padding: 100px;

}

.footer-div {
    text-align: center;
    color: white;

}

#underline {
    height: 1px;
    width: 95%;
    margin: 0 auto;
    background-color: rgb(56, 54, 54);
    margin-bottom: 10px;
}

.footer-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-flex span {
    margin-right: 25px;
}

.icons {
    text-align: center;
    font-size: 40px;
}


@media only screen and (min-width:689px) and (max-width:992px) {
    .flexible-container{
        width: 100%;
             
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .login-container {
        width: 100%;
        height: 200px;
        background-color: white;
    }
    .login-form{
    display: flex;
    align-items: center;
    
}
.add-button {
    display: block;
 }
 .footer-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}
#span{
    width: 50%;
}
.footer-flex span {
    margin-right: 0;
}

.icons {
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

}


}

@media only screen and (max-width:688px) {

    .flexible-container{
        width: 100%;
       
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .login-container {
        width: 100%;
        height: 200px;
        display: flex;
        margin-top: 50px;
        margin-left: 20%;
        background-color: black;
        /* margin-right: 850px; */
        border-radius: 1em;

}
.add-button {
    display: block;
 }

 .footer-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}
#span{
    width: 50%;
}
.footer-flex span {
    margin-right: 0;
}

.icons {
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


.add-button {
display: none;
}
}


